// Base
$white: #ffffff;
$black: #111827;

// Gray
$slate-400: #94A3B8;
$slate-600: #475569;
$slate-700: #334155;

// Orange
$amber-400: #FBBF24;
$amber-500: #F59E0B;
$amber-900: #78350F;

// Background with opacity
$black-op-85: rgba(17, 24, 39, 0.85);
